%section.topic
  .image-selector-main
    .image-selector-main__regulation
      = image_tag 'image-selector-main.png', id: "-image"
    .image-selector-main__selector
      %span 画像を選択
      %small （3MB以下のファイルをご使用ください）
      = f.file_field :image, class: "image-selector"
  .field
    .field__label
      = f.label :content, "本文"
    .field__form
      = f.hidden_field :content, placeholder: "本文", id: "topic_content"
#editor{"data-field-id" => "content"}
  =@story.content.try (:html_safe)

:javascript
  editor = new Dante.Editor(
    {
      el: "#editor",
      upload_url: "/uploads.json", //it expect an url string in response like /your/server/image.jpg or http://app.com/images/image.jpg
      disable_title: "true",
      upload_callback: function(data)
        {
            return data.link;
        },
    }
  );
  editor.start()
