%article
  = link_to story_path(list_story) do
    .content
      .content__image{style: "background-image: url(#{asset_path(list_story.topics[0].image)});"}
      .content__title= list_story.title
      .content__company= list_story.company_name
