%section.topic
  %h2 「カスタマーサクセス」の意識をすでに持っていた弥生カスタマーセンター
  %figure.image
    = image_tag('topic-image.jpg')
    %figcaption 大阪淀屋橋に移転した、弥生大阪カスタマーセンターニューオフィス
  .topic-body
    おかげさまで高い評価をいただいている弥生製品ですが、2014年にリリースしたクラウドアプリケーション「弥生オンライン」も、実利用でシェアNo.1※になりました。その躍動を支えているのが、日々「CS」に取り組む社員たち。
    %br
    %br
    日本の企業におけるCSといえば、顧客からの問い合わせに応じて情報提供を行なう「カスタマーサポート」が一般的でした。しかし近年、海外ではすでに浸透しつつある「カスタマーサクセス」という概念が広まりはじめています。
    %br
    %br
    カスタマーサクセスとは、単に受け身で問い合わせ対応をするのではなく、積極的なアプローチによって顧客の事業を成功に導くというもの。
    %br
    %br
    私たち弥生株式会社は同様の考えのもと、2008年に新たなビジョンを策定。「日本の中小企業、個人事業主、起業家の事業を支える社会的基盤(インフラ)として、日本の発展に能動的に貢献する」という明確な方向性を「MVV（Mission Vision Value）」として打ち出し、会計ソフトを主とする業務ソフトメーカーから「事業コンシェルジュ」への変革を進めてきました。
    %br
    %br
    そしてそのビジョンを、お客さまに最も近い場所で日々体現しているのが、弥生カスタマーセンターのスタッフたちです。
    %br
    %br
    そのなかのひとり、大阪テクニカルセクションでテクニカルサポートを担当している求理恵（もとめ・りえ）。「事業コンシェルジュ」というビジョンがはじめて全社へ提示されたとき、「ああ、私たちが今までやってきたのはこういうことだったんだ」と感じていました。
    %br
    %br
    「カスタマーセンターのスタッフは、MMVが策定される以前から、そもそも『お客さまのために何ができるか』という課題意識をずっと持っていたんです。ただ、それをうまく表現する共通の言葉がなかったんですよね。だからこそ『事業コンシェルジュ』というビジョンには、私たちとしても納得感がありました」（求）
    %br
    %br
    弥生カスタマーセンターは、大阪と札幌の2拠点。2016年現在、合わせて400名ほどのスタッフが業務に携わっています。
    %br
    %br
    皆「お客さまのために」という想いはひとつ。それを本当の意味で「カスタマーサクセス」につなげるために、現場ではさまざまな模索とチャレンジが重ねられてきました。
    %br
    %br
    ※クラウドアプリ利用シェアNo.1：クラウド会計ソフトの利用状況調査より（MM総研 2016年3月）
