.main-pickup-stories__story
  =link_to story_path(pickup_story), style: "background-image: url(#{asset_path(pickup_story.image)});" do
    .title
      .title__compnay
        .title__compnay__logo
          =image_tag(pickup_story.user.company.logo)
        .title__compnay__name= pickup_story.user.company.name
      .title__story-title= pickup_story.title
