- provide(:title, "作成ストーリー一覧｜PR Table")
#wrap
  = render 'shared/header'
  - breadcrumb :story_list
  = breadcrumbs separator: " &gt; "
  .single-column-wrap
    .header
      %h1 ストーリーの編集
    %p.list-result 1件中 1-1件を表示しています。
    #edit-story-list
      = render partial: 'shared/edit_story_list', collection: @edit_story_lists
  = render 'shared/footer'
