.notice {
  text-align: center;
  background-color: lightgreen;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
}

.alert {
  text-align: center;
  background-color: pink;
  color: #fff;
  font-weight: bold;
  line-height: 30px;
}

#error_explanation {
  h2 {
    font-size: 15px;
  }
  li {
    color: red;
  }
}
