#footer {
  background-color: #fff;
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #EBEBEB;
  footer {
    display: flex;
    flex-direction: column;
    font-size: 12.5px;
    nav {
      display: flex;
      flex-direction: column;
      ul {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        li {
          padding: 0px 20px;
        }
      }
    }
    .social {
      ul {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        li {
          padding: 20px;
        }
      }
    }
  }
}
