#header {
  // width: 100%
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
  font-size: 70%;
  a {
    color: #666;
  }
}

#global-header {
  height: 60px;
  line-height: 60px;
  // width: 1240px;
  padding: 0px 40px;
  display: flex;
  .left {
    display: flex;
    width: 40%;
    #logo {
      width: 95px;
      margin-right: auto;
      img {
        vertical-align: middle;
      }
    }
    #header-nav{
      width: 40%;
    }
    ul {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
    }
  }
  .right {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    #header-buttons {
      display: flex;
      width: 25%;
      justify-content: space-between;
      #create {
        a {
          border: 1px solid #CCC;
          border-radius: 20px;
          line-height: 30px;
          display: inline-block;
          padding: 0 2em;
        }
        a:hover {
          background-color: lightgreen;
        }
      }
    }
  }
}
