#list-stories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 40px;
  article {
    width: 100%;
    .content {
      background-color: #fff;
      height: 150px;
      padding: 20px;
      margin-right: 20px;
      margin-top: 20px;
      display: flex;
      transition: 0.3s;
      &__image {
        width: 150px;
        height: 150px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      &__body {
        width: calc(100% - 150px);
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        .title {
          margin-bottom: 10px;
          a {
            font-size: 16px;
            font-weight: bold;
            line-height: 1.5;
            &:hover {
              color: #5686ab;
            }
          }
        }
        .intro {
          a {
            font-size: 14px;
            line-height: 1.3;
          }
        }
        .company {
          margin-top: auto;
          a {
            font-size: 13px;
            color: #5686ab;
            line-height: 1;
          }
        }
      }
    }
  }
}
