#devise-container {
  .inner-container {
     margin: 0 auto;
     text-align: center;
     width: 642px;
     margin-top: 60px;
     h2 {
       margin-bottom: 20px;
     }
     p {
       font-size: 13px;
       margin: 30px 0;
     }
     .field {
       &.hidden {
         label {
           display: none;
         }
       }
       input {
        font-size: 13px;
         &.wide {
           box-sizing: border-box;
           width: 100%;
           height: 50px;
           padding: 0 20px;
           border: 1px solid #CCC;
         }
       }
     }
     .actions {
        input {
          box-sizing: border-box;
          border-radius: 5px;
          margin: 20px 0px;
          width: 100%;
          height: 50px;
          padding: 0 20px;
          color: #fff;
          font-weight: bold;
          background-color: #29d9c2;
          box-shadow: 0 3px 0 0 #40a29f;
          border: none;
        }
     }
     .links {
       margin-top: 30px;
       a {
         font-size: 13px;
         display: block;
         &:hover {
           color: #29d9c2;
         }
       }
     }
  }
}
