/* base
-------------------------------------------------------------------------------*/
ul, h1, h2, h3, h4, p{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

#wrap {
  background-color: #fff;
}

#wrap.gray {
  background-color: #F2F2F2;
}

#main-container {
  display: flex;
  #main-left {
    width: 70%;
  }
  #side-menu {
    width: 30%
  }
}
