/* base
-------------------------------------------------------------------------------*/
ul, h1, h2, h3, h4, p{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
a{
  color: black;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

#wrap {
  background-color: #F2F2F2
}
